@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    font-family: "Muli",sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        to bottom,
        #eafbff 0%,
        #eafbff 50%,
        #5290f9 50%,
        #5290f9 100%);
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}


nav {
    display: flex;
    justify-content: flex-start;
    border-radius: 5px;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.6);
    background-color: #fff;
    padding: 15px 20px 15px 20px;
    width: 70px;
    transition: width linear 0.6s;
}

nav.active {
    width: 365px;
    
}

nav > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    width: 0;
    transition: width linear 0.6s;
}

nav.active > ul {
    width: 100%;
}

nav > ul > li {
    transform: rotateY(0);
    padding: 10px;
    opacity: 0;
    transition: opacity linear 0.6s,transform linear 0.6s;

}

nav.active > ul > li {
    transform: rotateY(360deg);
    opacity: 1;
}
li > a {
    font-size: 1.6rem;
    text-align: center;
}

button {
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    position: relative;
    cursor: pointer;
    margin-left: 0;
}
nav.acitve > button {
    margin-left: 10px;
}

.line-1,.line-2 {
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #5290f9;    
    display: block;
    transition: transform linear 0.6s;
}

.line-1 {
    top: 80%;
}

.line-2 {
    top: 40%;

}

nav.active > button > .line-1, 
nav.active > button > .line-2 {
    top: 65%;
}


nav.active > button > .line-1 {
    transform: rotate(765deg);
}
nav.active > button > .line-2 {
    transform: rotate(-765deg);
}

