@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items:  center;
  justify-content: center;
  background-image: linear-gradient(90deg,#7d5fff,#7158e2);
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
}

input.active {
  width: 200px;
  padding: 14px;
}

input {
  padding: 0;
  width: 0;
  border: none;
  outline: none;
  font-size: 1.1rem;
  transition: all ease-in 0.1s;
}

button {
  width: 50px;
  height: 50px;
  background-color: #fff;
  cursor: pointer;
  border: none;

}
button i {
  font-size: 1.8rem;
  font-weight: 900;
}