@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

* {
    font-family: "Montserrat",sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-color: #3494e4;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.filled {
    background-color: #6ab3f8 !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > p {
    font-size: 1.4rem;
    user-select: none;
}

.total-liters {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.total-liters > h1 {
    font-size: 3.2rem;
    margin: 10px;
}

.total-liters > span {
    font-size: 1.8rem;
    margin-bottom: 50px;
}

.water-glass.liters-remaining {
    overflow: hidden;
    z-index: 0;
    width: 142px;
    height:322px ;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.liters-remaining.water-glass {
    cursor: default;
}

.desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}
.desc > h3 {
    color: #144fc6;
    font-size: 2.4rem;
    margin: 0;
    text-align: center;
}



.desc > span {
    color: #144fc6;
    font-size: 1.4rem;
    
}

.filled-percentage {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    width: 100%;
    height: 0;
    background-color: #63b3f8;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;  
    color: #144fc6;
    font-size: 2.6rem;
    font-weight: 800;
    text-align: center;
    transition: all 0.3s ease;
}

.water-glasses {
    width: fit-content;
    display: grid;
    gap: 10px 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.small-glass {
    height: 95px;
    width: 50px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    cursor: pointer;

}
.water-glass {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 5px solid #144fc6;
    background-color: #fff;
}

.water-glass > span {
    color: #144fc6;
    font-size: 1.6rem;
    text-align: center;
    user-select: none;
}

.water-glass.filled > span {
    color: #fff;
    
}